/* This is the orange theme */
/* Header */
#head {
    background-color: #f37329;
    color: white;
}
.button {
    color: white;
    text-shadow: 2px 2px 5px gray;
}

/* Popup border color */
.popup {
    border-color: #f37329;
}
/* Link color */
.link {
  color: #cc3b02;
}
/* Header buttons */
.button:hover {
    background-color: #ea6417;
}
.button:hover option, .button:hover optgroup {
  background-color: #ffffff;
  color: black;
}
/* Other buttons */
button:active {
  background-color: #f37329;
  border-color: #f37329;
}

.closePopup {
  transition-duration: 0.5s;
  color: #f37329;
}
.closePopup:hover {
  transition-duration: 0.5s;
  color: #a62100;
}

#result {
  /*box-shadow: 3px 5px 5px 5px #ffc27d;*/
}

.arrow {
  color: white;
  background-color: #f37329;
}
